@keyframes alertShow {
  0% { transform: translateX(200%); }
  100% { transform: translateX(0); }
}

@keyframes alertHide {
  0% { transform: translateX(0); }
  99% { transform: translateX(200%); }
  100% {transform: translateX(200%); margin: 0;}
}