@keyframes alertShow {
  0% { transform: translateX(200%); }
  60% { transform: translateX(-10%); }
  75% { transform: translateX(0); }
  85% { transform: translateX(-4%); }
  100% { transform: translateX(0); }
}
