@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/InterVariable.ttf");
  font-display: swap;
}

/*==================================================
  TOKENS
==================================================*/
@theme {
  /*==================================================
    COLORS
  ==================================================*/

  /* Highlight Colors */
  --color-highlight-dark: #4a0a28;
  --color-highlight-pure: #e85c9e;
  --color-highlight-light: #f8cfe0;

  /* Otimath Background Color */
  --color-background-otimath: #f8f8f8;

  /* Otimath Brand Colors */
  --color-brand-otimath-darkest: #0a0f24;
  --color-brand-otimath-darker: #1e3a60;
  --color-brand-otimath-dark: #204478;
  --color-brand-otimath-pure: #1a4a9e;
  --color-brand-otimath-medium: #5e7eb5;
  --color-brand-otimath-light: #a3b4cb;
  --color-brand-otimath-lighter: #d0dff1;
  --color-brand-otimath-lightest: #eaf2fb;

  /* Feedback Colors – Success */
  --color-feedback-success-darkest: #166600;
  --color-feedback-success-darker: #229900;
  --color-feedback-success-dark: #2ac000;
  --color-feedback-success-medium: #80d980;
  --color-feedback-success-light: #aae8a0;
  --color-feedback-success-lighter: #d5f5d0;
  --color-feedback-success-lightest: #ebfae8;

  /* Feedback Colors – Error */
  --color-feedback-error-darkest: #8a2a2a;
  --color-feedback-error-darker: #ba3838;
  --color-feedback-error-dark: #e03b3b;
  --color-feedback-error-medium: #f08080;
  --color-feedback-error-light: #f4a6a6;
  --color-feedback-error-lighter: #f9c8c8;
  --color-feedback-error-lightest: #fbeaea;

  /* Feedback Colors – Warning */
  --color-feedback-warning-darkest: #8a5200;
  --color-feedback-warning-darker: #d68400;
  --color-feedback-warning-dark: #ffa500;
  --color-feedback-warning-medium: #ffb84d;
  --color-feedback-warning-light: #f4c77d;
  --color-feedback-warning-lighter: #f9e0b0;
  --color-feedback-warning-lightest: #fbf0d9;

  /* Feedback Colors – Info */
  --color-feedback-info-darkest: #004488;
  --color-feedback-info-darker: #0070d0;
  --color-feedback-info-dark: #0088ff;
  --color-feedback-info-medium: #70b8ff;
  --color-feedback-info-light: #a0d0ff;
  --color-feedback-info-lighter: #d0e8ff;
  --color-feedback-info-lightest: #eaf5ff;

  /* Neutral Colors */
  --color-neutral-black: #000000;
  --color-neutral-darkest: #2e2e2e;
  --color-neutral-darker: #585858;
  --color-neutral-dark: #6c6c6c;
  --color-neutral-medium: #aaaaaa;
  --color-neutral-light: #c8c8c8;
  --color-neutral-lighter: #e7e7e7;
  --color-neutral-lightest: #fafafa;
  --color-neutral-white: #ffffff;
  --color-neutral-transparent: transparent;

  /* Opacity Colors */
  --color-opacity-modal: rgba(0, 0, 0, var(--opacity-level-semiopaque));

  /* Gradient Colors */
  --color-gradient-level-1: 69deg, rgba(203, 223, 237, 0.24) 33.17%,
    rgba(255, 247, 234, 0.24) 66.83%;
  --color-gradient-level-2: 90deg, #000 0%, rgba(0, 0, 0, 0) 100%;
  --color-gradient-level-3: 90deg, #000 0%, rgba(0, 0, 0, 0.5) 100%;
  --color-gradient-level-4: 0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%;

  /*==================================================
    BORDERS
  ==================================================*/

  /* Border Radius */
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-pill: 500px;
  --radius-circular: 50%;

  /* Border Width */
  --border-width-none: 0px;
  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 4px;
  --border-width-heavy: 8px;

  /*==================================================
    OPACITY
  ==================================================*/

  /* Opacity Levels */
  --opacity-level-visible: 1;
  --opacity-level-semiopaque: 0.8;
  --opacity-level-intense: 0.64;
  --opacity-level-soft: 0.48;
  --opacity-level-medium: 0.4;
  --opacity-level-light: 0.32;
  --opacity-level-lighter: 0.16;
  --opacity-level-semitransparent: 0.08;
  --opacity-level-transparent: 0;

  /*==================================================
    SHADOWS
  ==================================================*/

  /* Shadow Levels (in px) */
  --shadow-level-1: 0 4px 16px rgba(0, 0, 0, 0.08);
  --shadow-level-2: 0 8px 24px rgba(0, 0, 0, 0.08);
  --shadow-level-3: 0 16px 32px rgba(0, 0, 0, 0.08);
  --shadow-level-4: 0 16px 48px rgba(0, 0, 0, 0.08);

  /*==================================================
    SPACING
  ==================================================*/
  --spacing-none: 0px;
  --spacing-nano: 2px;
  --spacing-quarck: 4px;
  --spacing-micro: 8px;
  --spacing-macro: 12px;
  --spacing-xxxs: 16px;
  --spacing-xxs: 24px;
  --spacing-xs: 32px;
  --spacing-sm: 40px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --spacing-xl: 64px;
  --spacing-xxl: 88px;
  --spacing-xxxl: 112px;
  --spacing-huge: 144px;
  --spacing-giant: 176px;

  /*==================================================
    TYPOGRAPHY
  ==================================================*/

  /* Font Family */
  --font-family-base: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font Sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 20px;
  --text-lg: 24px;
  --text-xl: 28px;
  --text-xxl: 32px;
  --text-xxxl: 36px;
  --text-lr: 40px;
  --text-xlr: 44px;
  --text-xxlr: 48px;
  --text-xxxlr: 64px;
  --text-display: 80px;
  --text-giant: 96px;

  /* Line Heights */
  --leading-default: 100%;
  --leading-narrow: 16px;
  --leading-tightest: 20px;
  --leading-tighter: 24px;
  --leading-tight: 28px;
  --leading-sm: 32px;
  --leading-md: 36px;
  --leading-distant: 40px;
  --leading-superdistant: 44px;
  --leading-away: 48px;
  --leading-afar: 52px;
  --leading-far: 60px;
  --leading-faraway: 76px;

  /* Text Transformations */
  --text-transform-default: none;
  --text-transform-caps: uppercase;
  --text-transform-captalize: capitalize;
  --text-transform-lower: lowercase;

  /* Text Decorations */
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --text-decoration-strikethrough: line-through;

  /* Font Style*/
  --font-style-normal: normal;
  --font-style-italic: italic;

  /*==================================================
    BREAKPOINTS
  ==================================================*/
  --breakpoint-*: initial;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1144px;
  --breakpoint-xlg: 1280px;
}

/*==================================================
  TYPOGRAPHY CLASSES
==================================================*/

@layer base {
  /* Giant */
  .ds-giant-bold {
    @apply text-giant font-bold leading-default;
  }
  .ds-giant-medium {
    @apply text-giant font-medium leading-default;
  }
  .ds-giant {
    @apply text-giant font-regular leading-default;
  }

  /* Display */
  .ds-display-bold {
    @apply text-display font-bold leading-default;
  }
  .ds-display-medium {
    @apply text-display font-medium leading-default;
  }
  .ds-display {
    @apply text-display font-regular leading-default;
  }

  /* Headings */
  .ds-heading-tera {
    @apply text-xxxlr font-bold leading-faraway max-lg:text-xxlr max-lg:leading-afar;
  }
  .ds-heading-giga {
    @apply text-xxlr font-bold leading-far max-lg:text-lr max-lg:leading-away;
  }
  .ds-heading-ultra {
    @apply text-lr font-bold leading-afar max-lg:text-xxl max-lg:leading-distant;
  }
  .ds-heading-mega {
    @apply text-xxl font-bold leading-superdistant max-lg:text-xl max-lg:leading-md;
  }
  .ds-heading-extra {
    @apply text-lg font-bold leading-md max-lg:text-xl max-lg:leading-md;
  }
  .ds-heading-large {
    @apply text-md font-bold leading-tight max-lg:leading-sm;
  }

  /* Body */
  .ds-body-large {
    @apply text-md font-regular leading-sm;
  }
  .ds-body-large-medium {
    @apply text-md font-medium leading-sm;
  }
  .ds-body-large-bold {
    @apply text-md font-bold leading-sm;
  }
  .ds-body-large-link {
    @apply text-md font-regular leading-sm underline;
  }
  .ds-body-large-medium-link {
    @apply text-md font-medium leading-sm underline;
  }
  .ds-body-large-bold-link {
    @apply text-md font-bold leading-sm underline;
  }

  /* Body */
  .ds-body {
    @apply text-base font-regular leading-tighter;
  }
  .ds-body-medium {
    @apply text-base font-medium leading-tighter;
  }
  .ds-body-bold {
    @apply text-base font-bold leading-tighter;
  }
  .ds-body-link {
    @apply text-base font-regular leading-tighter underline;
  }
  .ds-body-medium-link {
    @apply text-base font-medium leading-tighter underline;
  }
  .ds-body-bold-link {
    @apply text-base font-bold leading-tighter underline;
  }

  /* Small */
  .ds-small {
    @apply text-sm font-regular leading-tightest;
  }
  .ds-small-medium {
    @apply text-sm font-medium leading-tightest;
  }
  .ds-small-bold {
    @apply text-sm font-bold leading-tightest;
  }
  .ds-small-link {
    @apply text-sm font-regular leading-tightest underline;
  }
  .ds-small-medium-link {
    @apply text-sm font-medium leading-tightest underline;
  }
  .ds-small-bold-link {
    @apply text-sm font-bold leading-tightest underline;
  }

  /* Caption */
  .ds-caption {
    @apply text-xs font-regular leading-narrow;
  }
  .ds-caption-medium {
    @apply text-xs font-medium leading-narrow;
  }
  .ds-caption-bold {
    @apply text-xs font-bold leading-narrow;
  }

  /* Overline */
  .ds-overline {
    @apply text-xs font-bold leading-tightest uppercase;
  }
}

html {
  interpolate-size: allow-keywords;
}
